
:root {
     --primary-color: #A1CDF4; 
    --secondary-color: #151828; 
    --accent1-color: #03216d; 
    --accent2-color: #35325E; 
    --heading-font: "Edu QLD hand", sans-serif; 
    --body-font: "Karla", sans-serif; 
}
    
* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

body { 
    font-family: var(--body-font); 
    color: var(--accent1-color) 
} 

header,
 main, 
 footer { 
    max-width: 95%; 
    margin: 0px;
}


header{ 
    margin: 1rem auto; 
    display: grid; 
    grid-template-columns: 50% 1fr; 
    align-items:center ; 
    padding: 10px 20px;
    border-bottom:3px solid var(--accent2-color); 
    background-color: var(--accent1-color); 
} 

nav ul{ 
    display: flex; 
    padding: 28px; 
    justify-content: flex-end; 
    align-items: center; 
    gap: 15px;
} 

nav a{ 
    text-decoration: none; 
    text-align: center; 
    color: #f2f8ff; 
    display: inline-block; 
    padding: 9px 18px; 
    border: 2px solid var(--primary-color); 
    border-radius: 25px; flex-direction: row; 
} 

h1, h2 { 
    font-family: var(--heading-font); 
    color: var(--secondary-color); 
} 

nav, 
p, 
section, 
article { 
    margin: 16px; 
    padding: 8px; 
} 

.socialmedia a { 
    text-decoration: none; 
} 

.hero { 
    position: relative; 
    justify-content: center;
}

.hero img { 
    display: block; 
    width: 100%; 
    height: auto;
} 

h1 { 
    position: absolute; 
    top: 0%; 
    width: 100%; 
    padding: 16px; 
    text-align: center; 
    opacity: 0.7; 
    background-color: var(--secondary-color); 
    color: var(--primary-color); 
}

.hero article { 
    position: absolute; 
    top: 300px; 
    width: 100%; 
    padding: 20px; 
    background-color: #f2f8ff; 
    border: 2px solid var(--accent2-color); 
    border-radius: 10px; box-shadow: 2px 2px 5px rgba(112, 110, 110, 0.171); 
} 

.hero article img { 
    float: right; 
    width: 125px; 
}

.history{
    padding: 2rem;
    text-align: center;
}

.history-grid{
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 50% 1fr;
    gap:15px;

}
.history-grid img{
    width: 100%;
    height: auto;
    box-shadow: 5px 5px 10px #000;
    border-radius: 8px;
    justify-content: center;
}

.adventure-gallery{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    padding:1rem;
    gap: 1rem;
    background-color: var(--accent2-color);
}

.adventure-gallery img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.adventure-gallery figure{
    flex: 0 0 18%;
    box-sizing: border-box;
}

.adventure-gallery figcaption{
    font: italic;
    font-size: 1rem;
    margin-top: 5px;
    color: #f2f8ff;
}

footer{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 5px;
    background-color: var(--primary-color);
}

.socialmedia{
    display: flex;
    gap: 1rem;
}
.socialmedia a{
    text-decoration: none;
}
.socialmedia img{
    justify-content: flex-end;
    width: 100%;
    height: auto;

}