
:root {
     --primary-color: #A1CDF4; 
    --secondary-color: #151828; 
    --accent1-color: #03216d; 
    --accent2-color: #35325E; 
    --heading-font: "Edu QLD hand", sans-serif; 
    --body-font: "Karla", sans-serif; 
}
    
* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

body { 
    font-family: var(--body-font); 
    color: var(--accent1-color) 
} 

.contact-info{
    text-align: center;
}

header,
 main, 
 footer { 
    max-width: 95%; 
    margin: 0 auto;
}


header{ 
    margin: 1rem auto; 
    display: grid; 
    grid-template-columns: 50% 1fr; 
    align-items:center ; 
    padding: 10px 20px;
    border-bottom:3px solid var(--accent2-color); 
    background-color: var(--primary-color); 
} 

nav ul{ 
    display: flex; 
    padding: 28px; 
    justify-content: flex-end; 
    align-items: center; 
    gap: 15px;
    list-style: none;
} 

nav a{ 
    text-decoration: none; 
    text-align: center; 
    color: #000000; 
    display: inline-block; 
    padding: 9px 18px; 
    border: 2px solid var(--primary-color); 
    border-radius: 25px; flex-direction: row; 
} 

h1, h2 { 
    font-family: var(--heading-font); 
    color: var(--secondary-color); 
} 

nav, 
p, 
section, 
article { 
    margin: 16px; 
    padding: 8px;
} 

.hero { 
    position: relative;
    justify-content: center;
    align-items: center;

}

.hero img { 
    display: block; 
    width: 100%; 
    height: auto;
    background-position: center;
    background-size: cover;

} 

.hero h1{
    position: absolute;
    top: 0%;
    width: 100%; 
    padding: 16px; 
    text-align: center;
    align-items: center;
    opacity: 0.7; 
    background-color: var(--secondary-color);
    color: var(--primary-color); 
}

h1 { 
    /*position: absolute;*/
    /*top: 0%;*/ 
    width: 100%; 
    padding: 16px; 
    text-align: center;
    opacity: 0.7; 
    /*background-color: var(--secondary-color);*/ 
    color: var(--secondary-color); 
}

.contact-section {
    margin: 2rem auto;
    padding: 1rem;
    max-width: 1100px;
}

.contact-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: start;
}

.map iframe{
    width: 100%;
    height: 350px;
    border: 0;
    border-radius: 10px;
}
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-form label {
    font-weight: bold;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 6px;
}

button[type="submit"] {
    background-color: #2c6e49;
    color: #ffffff;
    padding: 0.75em 1.5em;
    font-size: 1rem;
    border: 1px solid #000000;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}



.team {
    text-align: center;
    padding: 2rem;
    background-color:var(--primary-color);
}

.team figure {
    display: inline-block;
    width: 28%;
    margin: 1rem;
}

.team img {
    width: 100%;
    border-radius: 10px;
    border:var(--accent2-color);
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}

.team h3 {
    margin-top: 0.5rem;
}

.hero article { 
    position: absolute; 
    top: 300px; 
    width: 100%; 
    padding: 20px; 
    background-color: #f2f8ff; 
    border: 2px solid var(--accent2-color); 
    border-radius: 10px; box-shadow: 2px 2px 5px #706e6e2c; 
} 

.hero article img { 
    float: right; 
    width: 125px; 
}

.history{
    padding: 2rem;
    text-align: center;
}

.history-grid{
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 50% 1fr;
    gap:15px;

}
.history-grid img{
    width: 100%;
    height: auto;
    box-shadow: 5px 5px 10px #000;
    border-radius: 8px;
    justify-content: center;
}

.adventure-gallery{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    padding:1rem;
    gap: 1rem;
    background-color: var(--primary-color);
}

.adventure-gallery img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.adventure-gallery figure{
    flex: 0 0 18%;
    box-sizing: border-box;
}

.adventure-gallery figcaption{
    font: italic;
    font-size: 1rem;
    margin-top: 5px;
    color: #000;
}

footer{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 5px;
    background-color: var(--primary-color);
    align-items: center;
}

.socialmedia{
    display: flex;
    gap: 1rem;
}

.socialmedia a { 
    text-decoration: none; 
} 

.socialmedia img{
    justify-content: flex-end;
    width: 100%;
    height: auto;

}

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 2rem;
    width: 90%;
    margin: auto;
}

.grid-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 12px;
}

.grid-container h2 {
    margin-top: 0.8rem;
    font-size: 1.5rem;
}

.grid-container p {
    margin-top: 0.5rem;
    line-height: 1.6;
}

.newsletter{
    gap: 1rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #000000;
    padding: 2rem;
    background-color: var(--primary-color);
}

.newsletter h2{ 
    color: #07915c;
    text-align: center;
}

.newsletter p{ 
    text-align: center;
    
}

.newsletter input[type="text"],
.newsletter input[type="email"]{
    width: 100%;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 6px;
}

.newsletter label{
    font-weight: bold;
}

.trip-home{
    text-align: center;
    padding: 10px;
    border-bottom: 3px solid var(--accent2-color);
}

.trip{
    display: flex;
    flex-direction: column;
    border: 3px;
    padding: 2rem;
    justify-content: center;
    text-align: center;
}

.trip-home a{
    text-decoration: none;
    color: #ddd;
    font-weight: bold;
}
.trip-home img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}

.trip-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    width: 90%;
    margin: auto;
}
.trip-list .trip {
    width: 30%;
    background: var(--primary-color);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.15);
    text-align: center;
    border: 3px solid #000000;
}

.trip-list .high{
    margin:0px;
}
.trip-list .mid{
    margin: 10px;
}
.trip-list .low{
    margin:0px;
}

table {
    width: 100%;
    border-collapse: collapse; /* Removes space between cells */
    margin: 1rem 0;
    font-family: var(--body-font); 
    border-radius: 10px;
    margin-bottom: 2rem;
   
    
}
.private{
    text-align: center;
    font-weight: bold;
    margin-top: 1rem;
}

th, td {
    padding: 0.75rem;        /* Adds space inside cells */
    border-bottom: 1px solid #ddd; /* Light divider lines */
}

table, th, td {
    border: 2px solid #000000;
}

th {
    background-color: var(--primary-color); 
    color: var(--secondary-color);
    font-weight: bold;
}

.contact-us{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;

}

.contact-us a{
    text-decoration: none;
    color: #ddd;
    font-weight: bold;
}