
:root {
    --primary-color: #A1CDF4;
    --secondary-color: #151828;
    --accent1-color: #03216d;
    --accent2-color: rgb(53, 50, 94);
    --heading-font: "Edu QLD hand", sans-serif;
    --body-font: "Karla", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color)
}

header,
main,
footer {
    max-width: 840px;
    margin: 0ju;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 0%;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.hero article {
    position: absolute;
    top: 300px;
    width: 100%;
    padding: 20px;
    background-color: #f2f8ff;
    border: 2px solid var(--accent2-color);
    border-radius: 10px;
    box-shadow: grey;
}

.hero article img {
    float: right;
    width: 125px;
}