*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    max-width: 500px;
    background-color: rgb(250, 235, 215);
    color:navy;
}

h1{
    margin: 10px;
}

form{
    background-color:rgb(245, 245, 245) ;
    color: black;

}

input,
textarea,
select,
button{
    padding: .75rem;
    width: 350px;
}
button{
    background-color:rgb(0, 0, 128) ;
    color: rgb(255, 255, 255);
    margin: 0 auto;
    display: block;
    border-radius:.5rem ;
    border: 1px solid rgb(0 0 0/ 10%) 
    
}

code{
    display: block;
    background-color: rgb(39, 32, 32);
    color: rgb(255, 255, 255);
}

.box{
    margin: 1rem;
    border: 1px solid rgb(0 0 0/ 10%);
    padding: 1rem;
}

.quiz-item {
border: none;

}