*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}
main{
    max-width: fit-content;
}

h1 {
    color: darkblue;
    text-align: center;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 20px;
    box-shadow: 0 0 30px grey;
    float: right;
    margin: 0 0 1rem 1rem;
}

p {
    padding: 0px;
    font-family: Arial, sans-serif;
}
aside{
    width: 20rem;
    text-align:center;
    position: relative;
}
aside img{
    width:200px;
    height: auto;
}
aside h2 {
  position: absolute;
  top: 47px;
  left: 150px;
}
footer{
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}
/* class selectors */
.box{
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 3rem;
    background-color: #ddd;
    color: #000;
}