*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header, .grid, footer{
    max-width: 840px;
    margin: 0 auto;
}

nav {
    background-color: darkblue;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

.grid{
    display: grid;
    align-items: center;
}
main{
    max-width: fit-content;
    grid-column: 2/3;
    margin: 1rem;
}
aside{
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

h1 {
    color: darkblue;
    text-align: center;
    border-bottom: #000;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 20px;
    box-shadow: 0 0 30px grey;
    float: right;
    margin: 0 0 1rem 1rem;
}

p {
    padding: 0px;
    font-family: Arial, sans-serif;
}
aside{
    width: 20rem;
    text-align:center;
    position: relative;
}
aside img{
    width:200px;
    height: auto;
}
aside h2 {
  position: absolute;
  top: 47px;
  left: 150px;
}
footer{
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}
/* class selectors */
.box{
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 3rem;
    background-color: #ddd;
    color: #000;
}