* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header,
footer {
    background-color: grey;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 1.5rem;
}

main {
    width: 400px;
    margin: 0 auto;
    height: auto;
}

h1 {
    text-align: center;
    color: #000;
    background-color: #fff;
    padding: 20px;

}

h2 {
    border-bottom: 1px solid #222;
}

img {
    width: 400px;
    height: auto;
    box-shadow: 0 0 30px #333;
}

section {
    margin: 20px 0;
    border: 1px solid rgb(0, 0, 0 / 10%);
    padding: 10px;
    background-color: #abe;
    font-size: 0.9rem;
}

section p {
    margin: 10px;
}

ul {
    margin: 10px 20px;
}

footer {
    font-size: .9rem;
}